body {
    font-family: system-ui;
    background: linear-gradient(to bottom, rgb(50, 73, 204), rgba(50, 78, 204, 0.85));
    color: white;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
  }
  